<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Social Search</title>
<style>

#flash {
margin:10px;
color:red;
}

#form-contain {
width: 315px;
position: relative;
margin-left: auto; 
margin-right: auto;
padding: 1px;

}

#form {
background-image: url(images/form-bg.png) ;
background-repeat: no-repeat;
border: 7px solid #ffffff;
}

.form {
margin: 0px;
height:150px;
}

.h1 {
margin: 5px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 3.05em;
font-weight: bold;
color: #ffffff;
margin-left: 13px;
}

.input {
width: 163px;
margin-left: 13px;
padding: 5px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: .90em;
background-image: url(images/input-bg.jpg); 
background-repeat: no-repeat;
border: 0px solid #555555;
margin-top:60px;
}

.select {

margin:5px 15px 0;
padding: 3px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: .75em;
color: #000000;

}

.button {



height: 45px;
width:90px;
margin:70px 10px 30px;
background: transparent url(images/button-bg.png);
background-repeat: no-repeat;
border: 0px solid #ddddee;
float:right;
}

#open {
margin-top: 20px;
height: 60px;
line-height: 58px;
background-image: url(images/open-bg.jpg);
background-repeat: repeat-x;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1.15em;
font-weight: bold;
color: #ffffff;
text-align: center;
}
</style>
</head>
<body>
  <%= yield %>  
</body>
</html>
